{% extends 'template.twig' %}
{% block title %}Commentaires{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <h1>Administration</h1>
    </div>
    <div class="row">
        <p>Liste des Commentaires </p>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Valider</th>
            <th>Supprimer</th>
            </thead>
            <tbody>
            {% for comment in listcomments %}
                <tr>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.comment }}</td>
                    <td>{{ comment.is_valid }}</td>
                    <td><a href="/admin/comment/delete/{{ comment.id }}" style="color:white" class="btn btn-danger"
                           onclick="return confirm('Voulez vous vraiment supprimer ?)">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

